# Flask
flask
flask-cors
flask-mongoengine
# GraphQL
graphql-server[flask]
graphene
git+https://github.com/graphql-python/graphene-mongo.git@9e79a53e711ec8fb43868d908a1fbd3987420f0c
graphql_core
# Scheduler
schedule
# Scraping
requests
bs4
# Misc
tqdm
python-dotenv