Flask==1.1.2
Jinja2<3.1.0
Werkzeug==2.0.2
gunicorn==20.1.0
itsdangerous<=2.0.1

Flask-Cors==3.0.10
flask-mongoengine

graphql-server[flask]
graphene
graphene-mongo
graphql_core

pytest==6.2.5
pytest-cov==3.0.0
flake8==4.0.1
black==20.8b1

bs4==0.0.1
requests==2.26.0

tqdm==4.62.0
yaspin==2.1.0
petname==2.6
python-dotenv==0.19.0
